.background {
    min-height: 100vh;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

h2 {
    text-align: center;
    margin: 20px auto;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}